* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: whitesmoke;
}

/* Layout */

.container {
  width: 375px;
  margin: 0 auto;
  background: #fff;
}

.post-post-content {
  margin-bottom: 25px;
}

/* Header */

.header-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #c6c6c6;
  height: 70px;
}

.oldagram-logo {
  width: 120px;
}

.oldagram-logo,
.your-avatar-image {
  margin: 16px;
}

.oldagram-logo,
.your-user-avator-img {
  margin: 10px;
}

.your-avatar-image {
  border: rgb(236, 236, 236) solid 1px;
}

/* Post images */

.user-avatar,
.your-avatar-image {
  height: 34px;
  width: 34px;
  border-radius: 50%;
}

.user-avatar {
  margin: 10px 7px 11px 10px;
}

.post-image {
  width: 100%;
  margin: 0;
}

/* Post Content */

.user-informations {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icons {
  display: flex;
  flex-direction: row;

  gap: 10px;
}

.post-icons {
  width: 25px;
  height: 25px;
}

h1 {
  font-size: 1rem;
}

span {
  font-weight: 700;
}

.post-actions {
  margin-left: 10px;
  margin-top: 10px;
  line-height: 30px;
}
