* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: whitesmoke;
}

/* Layout */

.container {
  width: 375px;
  margin: 0 auto;
  background: #fff;
}

/* Header */

.header-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #c6c6c6;
  height: 70px;
}

.oldagram-logo {
  width: 120px;
}

.your-user-avator-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.oldagram-logo,
.your-user-avator-img {
  margin: 10px;
}

/* Post Content */

.user-infos {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image-post {
  width: 375px;
  height: 375px;
}

.icons {
  display: flex;
  flex-direction: row;

  gap: 10px;
}

.post-icons {
  width: 25px;
  height: 25px;
}

h1 {
  font-size: 1rem;
}

span {
  font-weight: 700;
}

.post-content {
  margin-left: 10px;
  margin-top: 10px;
  line-height: 30px;
}
